/* settings.css */

.content-container {
    display: flex;
    justify-content: center;
    margin-left: 100px; /* sidebar width */
    padding: 20px;
  }
  
  .info-component {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .input-label {
    margin-bottom: 10px;
  }
  
  .update-button, .delete-button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
   cursor: pointer;
    font-weight: bold;
  }
  
  .update-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  h1 {
    text-align: center;
    margin-left: 90px;
  }
  