@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.AboutContainer {
font-family: 'Roboto', serif;
align-items: center;
height: 100vh;
margin-right: 30%; /* Adjust the value as needed to move the container towards the left */
margin-top: 10%;
}

.AboutPicture {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 190px; /* Adjust the value as needed to create space between the picture and text */
  }
  
  .AboutPicture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .AboutContent {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 190px; /* Adjust the value as needed to create space between the picture and text */
  }
  
  .AboutText {
    text-align: center;
    margin-left: 190px; /* Adjust the value as needed to create space between the picture and text */
  }
  .about-header {
    display: flex;
    align-items: center;
  }
  
  .about-header h1 {
    margin-left: 20px; /* Optional: Add some space between the image and the text */
  }
  