.post {
    width: 500px;
    height: 400px;
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #eee #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
    margin-bottom: 20px; /* Add some space between posts */
  }
  
  .post img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .post-content {
    margin-top: 10px;
  }
  