@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* signup.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 230px; /* To accommodate the sidebar */
  padding: 20px;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  border-left: 10px;
  margin-bottom: 80px;
}

input,
button {
  margin: 10px;
}
