@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* .App {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  min-height: 100vh;
  background-color: #ffffff;
  grid-area: 1 / 1 / 4 / 3;
}  */
 

/* .post-container {
  align-items: center;
}


.post {
  margin-bottom: 20px;
} */


/* .post-box {
  display: inline-block;
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 200px;
  border-color: #eee #ddd #bbb;
  border-style: solid;
  border-width: 1px;
}
 */

/* .post-box img {
  max-width: 30%;
}


.post-box p {
  margin-bottom: 10px;
}


.post-box small {
  color: #777777;
} */


/* h2 {
  text-align: center;
  color: 000000;
  font-family: 'Roboto', serif;
} */




/* Profile */

